{
  "extends": [
    "airbnb",
    "react-app",
    "react-app/jest"
  ],
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "linebreak-style": 0,
    "react/jsx-filename-extension": 0
  }
}